<style>
  .form-container figure {
    margin-top: 10%;
  }
  section.my-gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 3%,
      rgba(58, 12, 163, 1) 71%,
      rgba(2, 0, 36, 1) 100%
    );
  }
  .input-form label {
    color: var(--dark);
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 0;
  }
  .subtitle {
    margin: 10px 0;
  }
  .container .flex-container {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .flex-container form {
    padding: 10% 5%;
    justify-items: end;
  }
  .my-skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 120px;
    max-height: 120px;
    overflow-x: scroll;
    border: 1px solid var(--violet-color);
    border-radius: 4px;
    padding: 5px;
  }
  .my-skill ul {
    padding: 0 2px;
  }
  .my-skill li {
    list-style: none;
    background-color: var(--neutral-color);
    color: var(--violet-color);
    font-weight: bold;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid var(--violet-color);
    text-align: center;
    font-size: small;
    cursor: pointer;
  }
  .my-skill li:hover {
    background-color: var(--violet-color);
    color: var(--neutral-color);
  }
  label span {
    background-color: var(--neutral-color);
    font-size: small;
    border: 1 px solid var(--violet-color);
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }
</style>

<section class="my-gradient" id="start-human-resource">
  <section class="form-container">
    <figure>
      <img
        src="https://images.pexels.com/photos/914931/pexels-photo-914931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt=""
        class="header-img"
      />
    </figure>
    <div>
      <h1 class="white-color">Soy talento</h1>
      <div>
        <p class="subtitle white-color">
          Estamos buscando personas como tu, para formar parte de nuestro equipo
          desde la comodidad de tu casa.
        </p>
      </div>
      <div class="simple-container"></div>
    </div>
  </section>
  <section class="form-container">
    <div class="container">
      <div class="flex-container">
        <form [formGroup]="humanResourceForm" novalidate>
          <div class="input-form">
            <label for="name"> Nombre </label>
            <input type="text" name="name" id="name" formControlName="name" />
          </div>

          <div class="input-form">
            <label for="lastName"> Apellido </label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              formControlName="lastName"
            />
          </div>

          <div class="input-form">
            <label for="email"> Correo Electrónico </label>
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
            />
          </div>

          <div class="input-form">
            <label for="country"> País </label>
            <input
              type="text"
              name="country"
              id="country"
              formControlName="country"
            />
          </div>
          <div class="input-form">
            <label for="profession"> Profesión</label>
            <select
              name="profession"
              id="professions"
              formControlName="profession"
              (change)="getSkills()"
            >
              <option value="0">Seleccione</option>
              <option
                *ngFor="let profession of professions"
                [value]="profession.id"
              >
                {{ profession.name }}
              </option>
            </select>
          </div>
          <div class="input-form">
            <label for="skills">
              Elige tres fortalezas
              <span *ngIf="skillsSelected.length > 0">{{
                skillsSelected.length
              }}</span></label
            >
            <select
              name="mySkills"
              id="mySkills"
              [(ngModel)]="skillSelected"
              [ngModelOptions]="{ standalone: true }"
              (change)="setMySkills()"
            >
              <option value="0">Seleccione</option>
              <option *ngFor="let skill of skills" [ngValue]="skill">
                {{ skill.name }}
              </option>
            </select>
          </div>
          <div class="my-skill">
            <ul *ngFor="let skill of skillsSelected">
              <li (click)="deleteSkill(skill)">{{ skill.name }}</li>
            </ul>
          </div>

          <div class="input-form">
            <label for="cvUpload"> Subir CV </label>
            <input
              type="file"
              accept="application/pdf"
              name="cvUpload"
              id="cvUpload"
              formControlName="message"
            />
          </div>
          <button
            type="button"
            class="primary-button"
            id="btn-contact-us"
            name="btn-contact-us"
            [disabled]="!humanResourceForm.valid"
            (click)="sendCv()"
          >
            Enviar
          </button>
        </form>
        <!-- <img          
          src="https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        /> -->
      </div>
    </div>
  </section>
</section>
