<section class="form-container neutral-color-bg">
  <div class="section-container">
    <h1>Tu talento es tuyo, hazlo valer.</h1>
    <h2>
      Únete a Workana y encuentra las mejores oportunidades para tu talento.
    </h2>
    <button class="primary-button">Enviar Cv</button>
  </div>
  <div class="section-container">
    <figure>
      <img
        src="https://images.pexels.com/photos/2102415/pexels-photo-2102415.jpeg"
        alt=""
        class="header-img"
      />
    </figure>
  </div>
</section>
<div class="grid-h2 neutral-color-bg">
  <div class="flex-info">
    <div class="vertical-separator"></div>
    <h2>Proyectos de largo plazo</h2>
  </div>
  <div class="flex-info">
    <div class="vertical-separator"></div>
    <h2>Remuneraciones de nivel internacional</h2>
  </div>
  <div class="flex-info">
    <div class="vertical-separator"></div>
    <h2>Trabajo en tu idioma</h2>
  </div>
  <div class="flex-info">
    <div class="vertical-separator"></div>
    <h2>Comunidad de colegas</h2>    
  </div>
</div>
