.form-container figure {
  margin-top: 10%;
}
section.my-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(26, 101, 158, 1) 45%,
    rgba(255, 255, 255, 1) 100%
  );
}
.input-form input {
  border: 2px solid var(--principal-color);
}
.input-form input:invalid {
  border: 1px solid var(--error-color);
}

.input-form input:focus {
  border: 1px solid #3a0ca3;
}
.subtitle {
  margin: 10px 0;
}
.container .flex-container {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}
.flex-container form {
  padding: 10% 5%;
  justify-items: end;
}
.my-platform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 150px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--violet-color);
  border-radius: 4px;
  padding: 0 5px;
  place-content: center;
}
.my-platform ul {
  padding: 0 2px;
}
.my-platform li {
  list-style: none;
  background-color: var(--neutral-color);
  color: var(--violet-color);
  font-weight: bold;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid var(--violet-color);
  text-align: center;
  font-size: small;
  cursor: pointer;
}
.my-platform li:hover {
  background-color: var(--violet-color);
  color: var(--neutral-color);
}
label span {
  background-color: var(--neutral-color);
  font-size: small;
  border: 1 px solid var(--violet-color);
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.p-placeholder{
color: var(--p-placeholder-color);
}
