<section class="my-gradient" id="start-customer">
  <section class="form-container">
    <div>
      <h1 class="white-color">Soy cliente</h1>
      <div>
        <p class="subtitle white-color">
          Te brindamos el mejor equipo para que tu negocio pueda seguir
          creciendo. Tus necesidades son nuestra prioridad.
        </p>
      </div>
      <div class="simple-container"></div>
    </div>
    <figure>
      <img
        src="https://images.pexels.com/photos/4342493/pexels-photo-4342493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt=""
        class="header-img"
      />
    </figure>
  </section>
  <section class="form-container">
    <div class="container">
      <div class="flex-container">
        <form [formGroup]="customerForm" (submit)="send()">
          <div class="input-form">
            <label for="companyName"> Nombre de la empresa</label>
            <input
              type="text"
              name="companyName"
              id="companyName"
              formControlName="companyName"
              placeholder="{{ 'CUSTOMER.COMPANY_NAME' | translate }}"
            />
          </div>

          <div class="input-form">
            <label for="conctactName"> Nombre de contacto </label>
            <input
              type="text"
              name="contactName"
              id="contactName"
              formControlName="contactName"
              placeholder="{{ 'CUSTOMER.CONTACT_NAME' | translate }}"
            />
          </div>

          <div class="input-form">
            <label for="email"> Correo Electrónico </label>
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              placeholder="{{ 'GENERIC.EMAIL' | translate }}"
            />
          </div>

          <div class="input-form">
            <label for="country"> País </label>
            <select name="country" id="country" formControlName="countryId">
              <option value="0" selected>
                {{ "GENERIC.SELECT" | translate }}
              </option>
              <option *ngFor="let country of countries" [ngValue]="country.id">
                {{ country.name }}
              </option>
            </select>
          </div>
          <div class="input-form">
            <label for="companyType"> Tipo de empresa</label>
            <input
              name="companyType"
              id="companyType"
              formControlName="companyType"
              type="text"
              placeholder="{{ 'CUSTOMER.COMPANY_TYPE' | translate }}"
            />
          </div>
          <div class="input-form">
            <label for="platform"> Plataformas</label>
            <select
              name="platform"
              id="platform"
              [(ngModel)]="platformSelected"
              [ngModelOptions]="{ standalone: true }"
              (change)="setPlatforms()"
            >
              <option [ngValue]="0" selected>
                {{ "GENERIC.SELECT" | translate }}
              </option>
              <option *ngFor="let platform of platforms" [ngValue]="platform">
                {{ platform.name }}
              </option>
            </select>
          </div>
          <div class="my-platform">
            <ul *ngFor="let platform of platformsSelected">
              <li (click)="deleteSkill(platform)">{{ platform.name }}</li>
            </ul>
          </div>
          <div class="input-form primary-color">
            <label for="phone"> Teléfono</label>
            <input
              class="full-w"
              type="tel"
              name="phone"
              id="phone"
              formControlName="phone"
              ng2TelInput
              placeholder="04121234567"
              [ng2TelInputOptions]="{ initialCountry: 've' }"
              (ng2TelOutput)="hasOutPut($event, 'phone')"
              (hasError)="hasError($event)"
              placeholder=""
            />
            <span class="error-span" *ngIf="customerForm.get('phone')?.errors">
              {{ "GENERIC.ERROR_PHONE" | translate }}
            </span>
          </div>
          <div class="input-form">
            <label for="message">
              Cuéntanos en pocas palabras tu necesidad</label
            >
            <textarea
              cols="10"
              rows="10"
              type="text"
              name="message"
              id="message"
              formControlName="message"
              placeholder="{{ 'CUSTOMER.REQUEST' | translate }}"
            ></textarea>
          </div>

          <button
            type="submit"
            [class]="cssValidForm()"
            id="btn-contact-us"
            name="btn-contact-us"
            [disabled]="!customerForm.valid"
          >
            Enviar
          </button>
          <div *ngIf="!customerForm.valid"></div>
        </form>
      </div>
    </div>
  </section>
</section>
