<section class="">
    <h1>Nuestros servicios</h1>
</section>
<section class="form-container">
  <div class="micro-cards">
    <picture>
      <img src="assets/icons/webpage.png" alt="" />
    </picture>
    <div class="micro-cards-content">
      <h1>Desarrollo de Aplicaciones Web</h1>
      <p>
        Te preguntas ¿Nuestra Empresa debería tener una página web? La respuesta
        es: ¡Claro que sí! Transformamos tú idea en realidad y brindamos el
        desarrollo, la implementación, mantenimiento y soporte funcional para
        tus aplicaciones web.
      </p>
    </div>
  </div>

  <div class="micro-cards">
    <picture>
      <img src="assets/icons/slider-navigation.png" alt="" />
    </picture>
    <div class="micro-cards-content">
      <h1>Desarrollo de Aplicaciones Móviles</h1>
      <p>
        Con más de mil millones de smartphones en el mundo y siendo estos la
        primera herramienta de acceso a Internet, brindamos el desarrollo de App
        móviles para estar conectados en todo momento Usuarios-Empresas.
      </p>
    </div>
  </div>

  <div class="micro-cards">
    <picture>
      <img src="assets/icons/network.png" alt="" />
    </picture>
    <div class="micro-cards-content">
      <h1>Integración de sistemas</h1>
      <p>
        Desarrollo de sistemas especializados que se adapten a las necesidades
        de manera escalable. Ofrecemos planes de integración en línea de todas
        las plataformas individuales en una sola unidad funcional para realizar
        sinergias dando resultados más rápidamente.
      </p>
    </div>
  </div>

  <div class="micro-cards"> 
    <picture>
      <img src="assets/icons/word-document.png" alt="" />
    </picture>
    <div class="micro-cards-content">
      <h1>Gestión de proyectos (PMI)</h1>
      <p>
        Materializamos tus proyectos con modernos lineamientos de reconocimiento
        internacional, como los del Project Management Institute (PMI®) que
        permiten liderar, planificar, ejecutar y monitorearlos oportunamente.
      </p>
    </div>
  </div>
</section>
