<section class="form-container primary-color-bg">
    <img
      src="https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
      class="half-img"
    />
  
    <div class="section-container">
      <h1>Tu negocio necesita de fuerza digital para seguir creciendo.</h1>
      <h2>
        Los mejores recursos para tu empresa, encuentra lo que necesitas, sin
        contra-tiempos para buscar personal.
      </h2>
      <h2>te brindamos un MVP para que empieces a notar tus resultados.</h2>
      <h2>Tenemos garantía y soporte 24/7.</h2>
      <button class="primary-button">Contáctenos</button>
    </div>
  </section>
  <!-- <div class="grid-h2 primary-color-bg">
    <div>
      <h2>Proyectos de largo plazo</h2>
    </div>
    <div>
      <h2>Remuneraciones de nivel internacional</h2>
    </div>
    <div>
      <h2>Trabajo en tu idioma</h2>
    </div>
    <div>
      <h2>Comunidad de colegas</h2>
    </div>
  </div> -->
  