<section class="form-container neutral-color-bg">
  <div class="section-container">
    <h1>Expande tu negocio con UltraSoft.</h1>
    <h2>
      Los mejores talentos hoy son independientes y remotos. Suma profesionales
      a tu compañía con habilidades específicas y requeridas, sin aumentar el
      headcount.
    </h2>
    <p>
      Armamos equipos de profesionales IT y de otras categorías en menos de dos
      semanas, con propuestas hechas a la medida de tus ideas.
    </p>
    <h2>Tenemos garantía y soporte 24/7.</h2>
    <button class="primary-button">Saber más</button>
  </div>
  <div class="container">
    <div class="flex-container primary-color-bg">
      <img
        src="https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg"
        alt="talent"
      />
    </div>
  </div>
</section>