<style>
  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2%;
  }
  ul .start-li {
    display: block;
    position: absolute;
    left: 1%;
  }
  ul li {
    padding: 2px;
    margin: 0 1%;
  }
  .img-li {
    width: 60px;
    height: 80px;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }
</style>
<nav>
  <ul>
    <li class="start-li">
      <img src="assets/icons/kooditec-logo.png" alt="Kooditec-logo" class="img-li" />
    </li>
    <li>Contácteme</li>
    <li>Ayuda</li>
    <li>Registrarse</li>
    <li>Es</li>
  </ul>
</nav>
