@import url("../../../assets/css/principal.css");
ul {
  list-style-type: none;
  margin: 0 0 1px 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0.5px 0.5px 5px gainsboro;
}
ul li {
  float: right;
  list-style: none;
  padding: 20px;
}
ul li:hover {
  color: var(--principal-color);
  cursor: pointer;
  font-weight: bold;
}