<section>
  <picture>
    <img src="assets/images/kooditec-complete-logo.png" alt="" />
  </picture>
</section>

<section class="form-container">
  <div>
    <h1 class="secondary-font">
      Trabajo Moderno, para
      <span class="secondary-font title-secondary-color"
        >empresas modernas</span
      >
    </h1>
    <div>
      <p class="subtitle">
        Conectamos los mejores talentos independientes con las mejores empresas.
      </p>
    </div>
    <div class="simple-container">
      <div>
        <button id="btnTalent" class="secondary-button" [routerLink]="['customer']">Empresa</button>
        <button id="btnTalent" class="primary-button" [routerLink]="['human-resource']">Freelancer</button>
      </div>
    </div>
  </div>
  <figure>
    <img
      src="https://images.pexels.com/photos/1181467/pexels-photo-1181467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
      class="header-img"
    />
  </figure>
</section>
<section class="center-carousel-grids">
  <section class="carousel-grids">
    <div class="container">
      <div class="flex-container primary-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Talento Calificado</h1>
            <p class="content-text">
              Profesionales independientes se sumaron a diversos equipos de
              ABInBev, para colaborar en proyectos de largo plazo, lo que
              permitió la escalabilidad del negocio sin aumentar el headcount.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/4344677/pexels-photo-4344677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="talent"
        />
      </div>
    </div>

    <div class="container">
      <div class="flex-container violet-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Equipos remotos a medida</h1>
            <p class="content-text">
              Profesionales IT especialistas en Node.JS fueron convocados y
              presentados en menos de dos semanas para sumarse al área de
              sistemas de UNX Digital.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/1181280/pexels-photo-1181280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="talent"
        />
      </div>
    </div>

    <div class="container">
      <div class="flex-container secondary-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Equipos remotos a medida</h1>
            <p class="content-text">
              Profesionales IT especialistas en Node.JS fueron convocados y
              presentados en menos de dos semanas para sumarse al área de
              sistemas de UNX Digital.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/3184299/pexels-photo-3184299.jpeg?auto=compress&cs=tinysrgb&w=1600"
          alt="talent"
        />
      </div>
    </div>

    <div class="container">
      <div class="flex-container hospital-green-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Equipos remotos a medida</h1>
            <p class="content-text">
              Profesionales IT especialistas en Node.JS fueron convocados y
              presentados en menos de dos semanas para sumarse al área de
              sistemas de UNX Digital.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/1181263/pexels-photo-1181263.jpeg?auto=compress&cs=tinysrgb&w=1600"
          alt="talent"
        />
      </div>
    </div>

    <div class="container">
      <div class="flex-container primary-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Talento Calificado</h1>
            <p class="content-text">
              Profesionales independientes se sumaron a diversos equipos de
              ABInBev, para colaborar en proyectos de largo plazo, lo que
              permitió la escalabilidad del negocio sin aumentar el headcount.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/4344677/pexels-photo-4344677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="talent"
        />
      </div>
    </div>

    <div class="container">
      <div class="flex-container violet-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Equipos remotos a medida</h1>
            <p class="content-text">
              Profesionales IT especialistas en Node.JS fueron convocados y
              presentados en menos de dos semanas para sumarse al área de
              sistemas de UNX Digital.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/1181280/pexels-photo-1181280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="talent"
        />
      </div>
    </div>

    <div class="container">
      <div class="flex-container secondary-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Equipos remotos a medida</h1>
            <p class="content-text">
              Profesionales IT especialistas en Node.JS fueron convocados y
              presentados en menos de dos semanas para sumarse al área de
              sistemas de UNX Digital.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/3184299/pexels-photo-3184299.jpeg?auto=compress&cs=tinysrgb&w=1600"
          alt="talent"
        />
      </div>
    </div>

    <div class="container">
      <div class="flex-container hospital-green-color-bg">
        <article>
          <div>
            <h1 class="content-title white-color">Equipos remotos a medida</h1>
            <p class="content-text">
              Profesionales IT especialistas en Node.JS fueron convocados y
              presentados en menos de dos semanas para sumarse al área de
              sistemas de UNX Digital.
            </p>
          </div>
        </article>
        <img
          src="https://images.pexels.com/photos/1181263/pexels-photo-1181263.jpeg?auto=compress&cs=tinysrgb&w=1600"
          alt="talent"
        />
      </div>
    </div>
  </section>
</section>
<app-section-a></app-section-a>
<app-section-b></app-section-b>
<app-section-c></app-section-c>
<app-section-d></app-section-d>
<app-contact-us></app-contact-us>
<app-footer></app-footer>
