section {
  margin-top: 5%;
}
.footer-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5% 0;
}
.copy-right {
  color: var(--text);
  align-self: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}
.footer-container a {
  text-decoration: none;
  color: var(--white);
  line-height: var(--xxxlg);
  cursor: pointer;
}
.footer-container a:nth-child(1) {
  color: var(--hospital-green-color);
  font-weight: bold;
}
.footer-container a:hover {
  color: var(--hospital-green-color);
}
.footer-container .icons-footer {
  display: flex;
  justify-content:center;
}
.footer-container .icons-footer a{
  margin: 0 1%;
}
.footer-container .icons-footer img {
  width: 30px;
  height: 30px;
}
.icons-footer img:hover{
  cursor: pointer;
}

@media (max-width: 640px) {
  .footer-form {
    grid-template-columns: 1fr;
  }
  .footer-container {
    margin: 2% 0;
  }
}
