<section class="form-container primary-color-bg">
  <div>
    <div class="footer-container">
      <a href=""
        class="anchor-container"><img
          src="assets/icons/kooditec-black-logo.png"
          alt="Kooditec-black-logo"
          class="img-kooditec"
      /></a>

      <h1 class="white-color">Kooditec</h1>
      <p class="copy-right">
        © 2012 - 2022 | Kooditec C.A - Todos los derechos reservados
      </p>
      <div class="icons-footer">
        <a href=""><img src="assets/icons/linkedin.png" alt="linkedin" /></a>
        <a href=""><img src="assets/icons/facebook.png" alt="facebook" /></a>
        <a href="https://www.twitter.com/kooditec"><img src="assets/icons/gorjeo.png" alt="twitter" /></a>
        <a href="https://www.instagram.com/kooditec"><img src="assets/icons/instagram.png" alt="instagram" /></a>
      </div>
    </div>
  </div>
  <div class="footer-form">
    <div class="footer-container">
      <a href="/">¿Quiénes somos?</a>

      <a href="/">Sobre nosotros</a>
      <a href="/">Únete al equipo Kooditec</a>
      <a href="/">Contáctanos</a>
      <a href="/">Blog</a>
      <a href="/">Glosario</a>
      <a href="/">Políticas de Kooditec</a>
      <a href="/">Política de privacidad</a>
      <a href="/">Términos de servicio</a>
      <a href="/">Configuración de cookies</a>
    </div>

    <div class="footer-container">
      <a href="/">Recursos</a>
      <a href="/">Centro de ayuda</a>
      <a href="/">Cómo funciona</a>
      <a href="/">Casos de éxito de clientes</a>
      <a href="/">Planes de beneficios</a>
      <a href="/">Prensa</a>
      <a href="/">Empresas</a>
      <a href="/">Tutoriales para clientes</a>
      <a href="/">Tutoriales para freelancers</a>
      <a href="/">Kooditec Time Report</a>
      <a href="/">Mapa del sitio</a>
    </div>

    <div class="footer-container">
      <a href="/">Recursos</a>
      <a href="/">Centro de ayuda</a>
      <a href="/">Cómo funciona</a>
      <a href="/">Casos de éxito de clientes</a>
      <a href="/">Planes de beneficios</a>
      <a href="/">Prensa</a>
      <a href="/">Empresas</a>
      <a href="/">Tutoriales para clientes</a>
      <a href="/">Tutoriales para freelancers</a>
      <a href="/">Kooditec Time Report</a>
      <a href="/">Mapa del sitio</a>
    </div>

    <div class="footer-container">
      <a href="/">Freelancers</a>
      <a href="/">Freelancers Argentina</a>
      <a href="/">Freelancers Brasil</a>
      <a href="/">Freelancers Colombia</a>
      <a href="/">Freelancers Uruguay</a>
      <a href="/">Freelancers México</a>
      <a href="/">Freelancers Venezuela</a>
      <a href="/">Freelancers Paraguay</a>
      <a href="/">Freelancers Honduras</a>
    </div>
  </div>
</section>
