section {
  margin-top: 5%;
}
.footer-form {
  display: flex;
  flex-direction: row;
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.footer-container a {
  text-decoration: none;
  color: var(--white);
  line-height: var(--xxxlg);
  cursor: pointer;
}
.footer-container a:nth-child(1) {
  color: var(--violet-color);
  font-weight: bold;
}
a:hover {
  color: var(--violet-color);
}

@media (max-width: 640px) {
  .footer-form {
    flex-direction: column;
  }
}
